<div *ngIf='usuario !== null && qr.saldoActual !== null' class='ion-page' id="main">
    <ion-header class="header-home">
        <ion-toolbar color='elemento'>
            <ion-title>
                {{usuario.email}}
            </ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content [fullscreen]="true" color='fondo'>
        <ion-card color='elemento' style='margin-top: 30px'>
            <ion-card-content>
                <h1>SALDO: ${{qr.saldoActual.saldo}}</h1>
                <br>
                <ion-label style='font-size: 20px;'>CANTIDAD QR $10: {{qr.saldoActual.codigo10}}</ion-label>
                <br>
                <ion-label style='font-size: 20px;'>CANTIDAD QR $50: {{qr.saldoActual.codigo50}}</ion-label>
                <br>
                <ion-label style='font-size: 20px;'>CANTIDAD QR $100: {{qr.saldoActual.codigo100}}</ion-label>
            </ion-card-content>
        </ion-card>
        <div style="margin: auto 10px;">
            <br>
            <ion-button expand='block' size='large' color='warning' (click)="eliminarSaldo()">Eliminar saldo</ion-button>
            <br>
            <ion-button expand='block' size='large' color='primary' (click)="escanear()">
                <ion-icon name="qr-code-outline"></ion-icon> Cargar Crédito
            </ion-button>
        </div>
    </ion-content>
    <ion-footer>
        <ion-toolbar color='fondo'>
            <ion-button color='danger' size='large' expand='block' (click)='cerrarSesion()'>Cerrar Sesión</ion-button>
        </ion-toolbar>
    </ion-footer>
</div>